# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# VSCode
.vscode/

# Flutter
.dart_tool/
build/

# Logs
logs/*.log
logs/*.json

# Database
database/*.sqlite
database/*.db

# Cache
cache/

# Environment
.env

# OS
Thumbs.db
.DS_Store
